@import '../../styles/veriables.scss';

.itemblock {
    flex:1;
    display: inline;
    max-width: min(290px, 95vw);
    width: 100%;
    height: auto;
    margin-right: 25px;
    margin-left: 25px;
    background-color: #212123;
    cursor: pointer;

    .itemblock_img {
        height: 50%;
        width: 100%;
        background-color: rgb(175, 175, 175);
        object-fit: contain;
    }

    .itemblock_description {
        display: flex;
        flex-direction: column;
        padding: 10px 5px 15px 15px;

        .descriptionh5 {
            font-family: $font-family;
            font-size: $size-2x;
            color: $color-title;

            &:hover {
                color: $color-active;
            }
        }

        .descriptionsp {
            font-family: $font-family;
            font-size: 14px;
            color: $color-text;
        }
        
        .descriptionspan {
            position: absolute;
            bottom: 115px;
            font-size: $size-3x;
            font-family: 'Montserrat';
            color: $color-active;
            margin-top: 10px;
        }
    }
}