@import '../../styles/veriables.scss';

.products_catalog {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 110px;
    top: 135px;

    .blocks_info{
        display: flex;
    }
}