$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large: 1200px;

$color-text: #B8B8B8;
$color-title: #FFFFFF;

$color-block: #191919;
$color-header: #212123;
$color-footer: #212123;
$color-active: #8B57C6;

$color-disable: #E6E6E6; //для отключенного элемента

$font-family: Arial, sans-serif;
$font-size-button: 0.875rem; //14px

$main-size: 16px;
$size: 0.5rem; //8px
$size-2x: 1rem; //16px
$size-3x: 1.5rem; //24px
$size-4x: 2rem; // 32px
$size-5x: 2.5rem; //40px
$size-6x: 3rem; //48px
$size-7x: 3.5rem; //56px
$size-8x: 4rem; //64px