@import '../../styles/veriables.scss';

.main {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 165px;
    
    // background-color: $color-main;
}