@import '../../styles/veriables.scss';

.itemblock {
    max-width: min(240px, 95vw);
    width: 100%;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px; 
    background-color: #212123;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    .itemblock_img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .itemblock_info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 10px 15px 15px 15px;
        
        .itemblock_description {
            flex-wrap: wrap;
            flex-grow: 1;

            .descriptionh5 {
                font-family: $font-family;
                font-size: $size-2x;
                color: $color-title;
                letter-spacing: 1px;
                font-weight: 600;

                &:hover {
                    color: $color-active;
                }
            }

            .descriptionsp {
                font-family: $font-family;
                font-size: 14px;
                color: $color-text;
                margin-bottom: 15px;
            }
        }

        
        .blockPrice {
            display: flex;
            justify-content: end;
            align-items: end;
            
            .price {
                font-size: $size-3x;
                font-family: 'Montserrat';
                color: $color-active;
                margin-top: auto;
                margin-right: 5px;
            }
            
            .delPrice {
                font-size: $size-3x;
                font-family: 'Montserrat';
                color: $color-active;
                margin-top: auto;
                text-decoration: line-through;
                margin-right: 5px;
            }

            .newPrice {
                font-size: $size-3x;
                font-family: 'Montserrat';
                color: red;
                margin-top: auto;
            }

        }
    }
}