@import '../../styles/veriables.scss';

.itemblock {
    max-width: min(240px, 95vw);
    width: 100%;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px; 
    background-color: #212123;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    .itemblock_img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .itemblock_description {
        display: flex;
        flex-direction: column;
        padding: 10px 15px 15px 15px;
        

        .descriptionh5 {
            font-family: $font-family;
            font-size: $size-2x;
            color: $color-title;

            &:hover {
                color: $color-active;
            }
        }

        .descriptionsp {
            font-family: $font-family;
            font-size: 14px;
            color: $color-text;
            margin-bottom: 15px;
        }
        
        .descriptionspan {
            font-size: $size-3x;
            font-family: 'Montserrat';
            color: $color-active;
            margin-top: auto;
        }
    }
}