@import '../../styles/veriables.scss';

.navbar {
    width: 661px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $size-7x;
        
        .li {
            font-family: $font-family;
            font-size: $size-3x;
            color: $color-title;
            cursor: pointer;

            &:hover {
                color: $color-active;
                text-decoration: underline;
                transition: border-bottom 0.3s ease;
            }
        }

        .containerButtons {
            display: flex;
            justify-content: center;
            align-items: center;
        
            .buttonLogin {
                width: 128px;
                height: 52px;
                font-size: $size-3x;
                font-family: $font-family;
                border: none;
                cursor: pointer;
                border-radius: 0.75em;
                margin-right: $size-2x;
                background: #ffffff;

                &:hover {
                    display: block;
                    border: 2px solid rgb(255, 255, 255);
                    border-radius: 0.75em;
                    background: $color-active;
                    color: #ffffff;
                    transform: translateY(-0.25em);
                    transition: transform 0.15s ease;
                }
            }

            .buttonRegis {
                width: 128px;
                height: 52px;
                font-size: $size-3x;
                font-family: $font-family;
                border: none;
                cursor: pointer;
                border-radius: 0.75em;
                background: $color-title;

                &:hover {
                    display: block;
                    border: 2px solid rgb(255, 255, 255);
                    border-radius: 0.75em;
                    background: $color-active;
                    color: #ffffff;
                    transform: translateY(-0.25em);
                    transition: transform 0.15s ease;
                }
            }
        }

        .a {
            width: $size-4x; 
            height: $size-4x;
            object-fit: contain;
            filter: brightness(0) invert(1);
        }

    }
}

@media (max-width: $breakpoint-large) {
    .navbar {
        
        display: flex;
        flex-direction: column-reverse;
        
        width: 220px;
        height: 100%;

        .container {
            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            flex: 1;
            display: flex;
            width: 35%;
            flex-direction: column;

            background-color: $color-block;
            border: 2px solid #ffffff;
            border-radius: 10px;

            .containerButtons {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;
                gap: 42px;
                width: 100%;
                

                .buttonLogin {
                    margin: 0;
                    background-color: #191919;
                    color: #ffffff;
                    
                }

                .buttonRegis {
                    margin: 0;
                    background-color: #191919;
                    color: #ffffff;
                }
            }

            &.show {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
                transition: all 0.3s ease;
            }
            
            
            &.hide {
                display: none;
                opacity: 0;
                visibility: hidden;
                transform: translateY(-10px);
                transition: all 0.3s ease;
            }
        }
    
        .burger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 24px;
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            z-index: 1;
            position: absolute; //??????????????????
            

            .span {
                display: block;
                height: 3px;
                width: 100%;
                background-color: #ffffff;
                transition: all 0.3s ease;
            }
            
            &.burgerActive {
                .span {
                    background-color: #ffffff;
                }
                
                .span:nth-child(1) {
                    transform: rotate(45deg) translate(9px, 6px);
                }
                
                .span:nth-child(2) {
                    opacity: 0;
                }
                
                .span:nth-child(3) {
                    transform: rotate(-45deg) translate(8px, -6px);
                }
            }
        }
    }
}