@import '../../styles/veriables.scss';

.container_productsCart {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1180px;
    width: 100%;
    min-height: 523px;
    height: 100%;

    margin-left: 25px;
    margin-top: 25px;
    padding: 25px 25px 0px 25px;
    padding-bottom: 35px;

    border-radius: 12px;
    background-color: $color-block;

    .productsCart_name {
        font-size: $size-4x;
        font-family: $font-family;
        color: $color-title;
        margin-bottom: 16px;
    }

    .container_productsItem {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        
        border-radius: 8px;
    }

    .block_productsCart {
        display: flex;
        justify-content: space-between;
        align-items: end;

        .button {
            max-width: 335px;   
            width: 100%;
            min-height: 58px;
            
            background-color: $color-active;
            color: #ffffff;
            font-size: clamp(1rem, 1.5vw, $size-3x);
            border-radius: 12px;
            padding: 10px 10px 10px 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #caa0fa;
            }
        }

        .total {
            font-size: $size-4x;
            font-family: 'Montserrat';
            color: $color-text;

            .span { 
                font-size: $size-4x;
                font-family: 'Montserrat';
                color: #FFFFFF;
            }
        }
    }
}