@import '../../styles/veriables.scss';

.sidebar {
    position: sticky;
    top: 20px;
    left: 20px;
    width: 304px;
    max-width: 100%;
    height: 100%;
    max-height: 423px;
    
    margin-top: 14%;
    margin-left: 2%;
    background-color: #191919;

    .sidbarNavigation {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 25px;
        gap: 50px;

        .title {
            font-family: $font-family;
            font-size: $size-2x;
            color: $color-title;
        }

        .sidebarList {
            display: flex;
            flex-direction: column;
            
            .sidebarItem {
                
                color: $color-text;
                font-size: $size-2x;
                font-family: $font-family;
                padding-bottom: 10px;
            }
        }
    }
}