@import '../../styles/veriables.scss';

.sidebar {
    width: 304px;
    max-width: 100%;
    max-height: 523px;
    margin-left: 135px;
    background-color: $color-block;
    border-radius: 12px;
    margin-top: 25px;

    .sidbarNavigation {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 25px 25px 25px 25px;

        .title {
            margin-bottom: 25px;
            font-family: $font-family;
            font-size: $size-2x;
            color: $color-title;
        }

        .sidebarList {
            display: flex;
            flex-direction: column;
            
            .sidebarItem {
                cursor: pointer;
                color: $color-text;
                font-size: 18px;
                font-family: $font-family;
                padding-bottom: 10px;

                &:hover {
                    color: $color-active;
                }
            }
        }

        .sidebarHelp {
            display: flex;
            justify-content: space-between;
            margin-top: auto;

            .span {
                color: $color-text;
                font-size: 18px;
                font-family: $font-family;
                text-decoration: underline;

                &:hover {
                    color: $color-active;
                }
            }
        }
    }
}