@import '../../styles/veriables.scss';

.containerRecommendedProducts {
    max-width: min(1510px, 95vw);
    width: 100%;
    min-height: 370px;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: clamp(100px, 10%, 135px);
    margin-top: clamp(20px, 3vw, 25px);

    border-radius: 12px;
    background-color: $color-block;

    .h3 {
        margin-top: 35px;
        margin-bottom: 15px;
        font-family: $font-family;
        font-size: $size-4x;
        color: $color-title;
    }

    .sectionWorth {
        display: flex;
        max-width: min(1430px, 95vw);
        width: 100%;
        min-height: 260px;
        margin-bottom: 25px;
    }
}