@import '../../styles/veriables.scss';

.container {
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    max-width: min(1430px, 95vw);
    width: 100%;
    margin-bottom: 25px;

    .items-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .itemblock {
        flex: 0 1 auto;
        display: flex; 
        flex-direction: column;
        max-width: min(270px, 95vw);
        width: 100%;
        height: auto;
        margin: 0 15px 25px 15px;
        cursor: pointer;
        
        &:hover {
            transform: translateY(-5px);
            transition: transform 0.3s ease;
        }
        
        transition: transform 0.3s ease;
        
        .wrapper {
            flex: 1;
            display: flex;
            align-items: center;
            overflow: hidden;
            border-radius: 8px;
            margin-bottom: 10px;

            .itemblock_img {
                width: 100%;
                height: 100%;
                border-radius: 8px;
                object-fit: cover;
            }
        }

        .span {                
            font-size: calc($size-2x + 4px);
            font-family: $font-family;
            color: white;
            display: block;
            text-align: center;
            padding: 8px;
            
            &:hover {
                color: $color-active;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        .title {
            font-size: calc($size-2x + 4px);
            margin-bottom: 20px;
            padding: 10px 15px;
        }
        
        .itemblock {
            margin: 0 10px 20px 10px;
        }
    }
}